// variables
$cl-white: #fff;
$cl-red: #F24A4A;
$cl-blue: #2FB9F20F;
$thick-blue: #2FA0F2;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM sans';
}

header {
    height: 100vh;
    position: relative;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;

    &:hover {
        cursor: pointer;
    } 
}

nav {
    width: 90%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 0 20px;
    }

    a {
        color: inherit;
    }

    .btn {
        background-color: $cl-red;

        &:hover {
            transform: scale(0.98);
        }
    }
}

.hero {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .hero-text {
        flex-basis: 50%;
        
        h1 {
            font-size: 43px;
            font-weight: 700;
            line-height: 1.1;
        }

        p {
            margin: 20px 0;
        }

        & a:nth-child(3) {
            background-color: $cl-white;
            border: 2px solid $cl-red;
            color: #000000;
            margin-right: 15px;
        }

        & a:nth-child(4) {
            background-color: $cl-red;
        }
    }

    .hero-img {
        flex-basis: 46%;
        position: relative;

        img {
            width: 90%;
        }

        .hero-ecllipse {
            position: absolute;
            bottom: 0;
            right: 25px;
            z-index: -1;
        }
    }
}

.btn {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 5px;
    color: $cl-white;
    font-weight: 500;
    border: 2px solid $cl-red;

    &:hover {
        transform: scale(0.98);
    }
}

@import "_section-two.scss";
@import "_cta.scss";
